/* Hero */

#hero_arrow {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {

    #hero { padding-top: 100px; }
    #desktop_hero_image { display: none; }

} /* Mobile */

@media screen and (min-width: 769px) {

    #hero { height: 100vh; }
    #desktop_hero_image { width: auto; }
    #mobile_hero_image { display: none; }
    
} /* Desktop */
