/* Main Styles */

/* Bootstrap Modifications */
    .container { max-width: 960px; }

    /* Helps with scrollspy navigation */
    html {
        scroll-behavior: smooth;
        position: relative;
        min-height: 100%;
    }


/* General Styles  */

    /* Margin bottom by footer height */
    body { margin-bottom: 60px; }

    *{
        font-family: 'Roboto', sans-serif;
        transition: all 0.5s;
    }

    img { width: 100%; }
    h1 { font-size: 64px; }
    h2 { font-size: 48px; }

    /* Spacebar - Special padding element that helps with bootstrap navigation issues */
    .spacebar { height: 100px; }

    /* Services */

    .card:hover { box-shadow: 5px 5px 2px grey; }