/* Form */

input[type=text] {
    background-color: #EAEAEA;
    border-color: #EAEAEA;
    border-radius: 10px;
    width: 75%;
}

input[type=email] {
    background-color: #EAEAEA;
    border-color: #EAEAEA;
    border-radius: 10px;
    width: 75%;
}

textarea {
    resize: none;
}

#message {
    height: 215px;
    background-color: #EAEAEA;
    border-color: #EAEAEA;
    border-radius: 10px;
}

#message:focus {
    background-color: white;
}

.btn-action {
    background-color: #C4C4C4;
    border-color: #C4C4C4;
    border-radius: 10px;
    transition-duration: 0.1s;
}

.btn-action:hover {
    background-color: white;
}

#response-contact, #response-tweets {
    width: 20px;
    height: 20px;
    pointer-events: none
}