#instafeed a {
    padding: 10px;
    position: relative;
    width: 50%;
}

#instafeed a .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#instafeed a:hover .image {
    transform: scale(1.03);
}
