html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

*{
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}

/* Bootstrap Modifications */
.container {
    max-width: 960px;
}

/* General Styles */

.spacebar {
    height: 100px;
}

.image {
    width: 100%;
}

h1 {
    font-size: 64px;
}

/* Hero */

#hero_img {
    position: relative;
    left: -145%;
}

#hero_arrow {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}