/* Navigation */

/* Without this the background would be transparent */
.navbar { background: white; }

.nav-link {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
} .nav-link:hover { border-bottom: 3px solid rgba(241, 91, 36, 0.5); }

/* Default width: 100%; takes up the whole navbar */
.navbar-brand > img { width: 50px; }
