
/* Navigation */

/* Most of the themes are bootstraped */

.navbar {
    /* Has Bootstrap Themes */
    background-color: white;
}

.nav-link {
    margin: 10px;
    padding: 5px;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid transparent;
} .nav-link:hover {
    color: black;
    border-bottom: 3px solid rgba(241, 91, 36, 0.5);
}

.nav-active {
    border-bottom: 3px solid #F15A24;
} .nav-active:hover {
    border-bottom: 3px solid #F15A24;
}