/* Bootstrap Modifications */

    .container {
        max-width: 960px;
    }

/* Navigation */
    
    /* Most of the themes are bootstraped */

    .navbar {
        /* Has Bootstrap Themes */
        background-color: white;
    }


/* General Styles */

    .spacebar {
        height: 100px;
    }

/* Hero */

    #hero_img {
        position: relative;
        left: -145%;
    }
